## 9.2

In [11]:
import numpy as np
from numpy import random

In [2]:
x = np.array([1.22,1.24,1.25,1.19, 1.17, 1.18])

In [9]:
print('X_',np.mean(x))
print('X_', ((x - np.mean(x))@(x - np.mean(x)).T)/(len(x)-1))

X_ 1.2083333333333333
X_ 0.0010966666666666687

## 9.3

In [17]:
print(1/12)

0.08333333333333333

In [26]:
ret = 0
for i in range(0,100000):
    x = random.rand(10)
    ret += ((x - np.mean(x))@(x - np.mean(x)).T/9)/100    
print(ret)

83.34527175170619

In [28]:
ret = 0
for i in range(0,100000):
    x = random.rand(10)
    ret += ((x - np.mean(x))@(x - np.mean(x)).T/10)/100    
print(ret)

75.15643869180647

## 9.5

In [30]:
from scipy.special import comb
import math

In [36]:
    def f(n, p = 0.9):
        return sum([comb(n,i)*math.pow(p,i)*math.pow(1-p,n-i) for i in range(n//2+1,n+1)])

print(f(3))
print(f(5))

0.9720000000000001
0.9914399999999999

## 9.6

In [45]:
def poason(x,lmbd):
    return math.exp(-1*lmbd)*math.pow(lmbd,x)/math.factorial(x)
    
p = 1.0    
for i in range(0,5):
    p -= poason(i, 4.5)
print(p)

0.4678964236252845

## 9.7

(1) 交通事故死亡者数

In [50]:
ma= {"Hokkaido": 9.7, "Tokyo": 4.0, "Osaka":5.7, "Fukuoka": 7.8}

for city in ma.keys():    
    p = 0
    for i in range(0,10):
        p += poason(i,ma[city])
    print(city+'\t',p)

Hokkaido	 0.49597884175020945
Tokyo	 0.991867757203066
Osaka	 0.9351825280291335
Fukuoka	 0.7411089165697634

(1) 交通事故死亡者数

In [56]:
def f(n, p ):
    return sum([comb(n,i)*math.pow(p,i)*math.pow(1-p,n-i) for i in range(0,5)])
ma= {"Hokkaido": 526.6, "Tokyo": 508.7, "Osaka":703.8, "Fukuoka": 867.2}

for city in ma.keys():    
    p = 0
    for i in range(0,5):
        p += poason(i,ma[city]/365)
    print(city+'\t',p)

Hokkaido	 0.9839920186786263
Tokyo	 0.9859939779933685
Osaka	 0.9535909639906193
Fukuoka	 0.9071305858827781

## 9.8

(1)

In [101]:
heights = np.array([171.0,167.3, 170.6, 178.7, 162.3])
print(np.sum(heights)/len(heights))
print((heights-heights.mean())@(heights-heights.mean()).T/5)
bobunsan = (heights-heights.mean())@(heights-heights.mean()).T/5

169.97999999999996
28.72559999999991

In [113]:
import itertools

stuff = [0, 1, 2, 3, 4]

ave_list = []
ave2_list = []
std_list = []
for subset in itertools.combinations(stuff, 3):
    ar = heights[list(subset)]
#     print(list(subset),ar.mean(),)
    ave_list.append(ar.mean())

In [116]:
ave_list = np.array(ave_list)
print(ave_list.mean())
print((ave_list@ave_list.T)/10 - ave_list.mean()**2)
print( (bobunsan/3)*(2/4))

169.98
4.7876000000032946
4.787599999999985

In [112]:
np.sum(ave2_list)/10

86765.778